// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


img.card-img-top {
    object-fit: contain;
    height: 350px;
    width: 100%;
}
